<h1 align="center">Listing of all articles</h1>

<!--Now to present the data from all articles we will use embedded Ruby-->

    <% @articles.each do |article| %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="well well-lg">
            <!--Title-->
            <div class="article-title">
              <%= link_to article.title, article_path(article) %>
            </div>
            <!--Body-->
            <div class="article-body">
              <%= truncate(article.description, length: 100) %>
            </div> 
            <!--Actions-->
            <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-xs btn-primary" %> 
            <%= link_to "Delete Article", article_path(article), method: :delete, 
                                    data: { confirm: "Are you sure you want to delete this article?" }, 
                                    class: "btn btn-xs btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  
  
</table>